@model VmUserProfile

@{
    ViewData["Title"] = "MyProfile";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<div class="container mt-5">
    <h2 class="mb-4">My Profile</h2>

    @if (Model != null)
    {
        <div class="row">
            <div class="col-md-4">
                @if (!string.IsNullOrEmpty(Model.employee.ImageName))
                {
                    <img src="~/@Model.employee.ImageName" alt="Employee Image" class="img-fluid rounded-circle">
                }
                else
                {
                    <span>No image available</span>
                }
            </div>
            <div class="col-md-8">
                <dl class="row">
                    <dt class="col-sm-3">First Name:</dt>
                    <dd class="col-sm-9">@Model.employee.FirstName</dd>

                    <dt class="col-sm-3">Last Name:</dt>
                    <dd class="col-sm-9">@Model.employee.LastName</dd>

                    <dt class="col-sm-3">Phone Number:</dt>
                    <dd class="col-sm-9">@Model.employee.PhoneNumber</dd>

                    <dt class="col-sm-3">Email:</dt>
                    <dd class="col-sm-9">@Model.employee.Email</dd>

                    <dt class="col-sm-3">Username:</dt>
                    <dd class="col-sm-9">@Model.user.Username</dd>

                    <dt class="col-sm-3">Gender:</dt>
                    <dd class="col-sm-9">@Model.employee.Gender</dd>

                    <dt class="col-sm-3">Country:</dt>
                    <dd class="col-sm-9">@Model.employee.countries.Name</dd>

                    <dt class="col-sm-3">City:</dt>
                    <dd class="col-sm-9">@Model.employee.cities.Name</dd>

                    <dt class="col-sm-3">Date of Birth:</dt>
                    <dd class="col-sm-9">@Model.employee.DateOfBirth.ToShortDateString()</dd>

                    <dt class="col-sm-3">Hire Date:</dt>
                    <dd class="col-sm-9">@Model.employee.HireDate.ToShortDateString()</dd>

                    <dt class="col-sm-3">Department:</dt>
                    <dd class="col-sm-9">@Model.employee.department.Name</dd>

                    <dt class="col-sm-3">Position:</dt>
                    <dd class="col-sm-9">@Model.employee.positions.Name</dd>

                    <dt class="col-sm-3">Salary:</dt>
                    <dd class="col-sm-9">@Model.employee.Salary.ToString("C")</dd>

                </dl>
            </div>
        </div>

       
    }
    else
    {
        <p>Error: Employee data is not available.</p>
    }
</div>

