@model HR.helper.PaginatedList<CityDTO>
@{
    ViewData["Title"] = "GetAllCities";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between mb-3">
        <h2 class="mb-4">City List</h2>
        <a class="btn btn-outline-primary" asp-action="Index" asp-controller="City"><i class="fa-solid fa-plus"></i> New City</a>
    </div>


    <div class="row">
        <div class="col-md-12 mb-3">
            <form asp-controller="City" asp-action="GetAllCities" method="get" class="form-inline">

                <!-- Search input -->
                <div class="input-group col-md-3">
                    <input type="text" class="form-control form-control-md" name="search" placeholder="Search..." value="@ViewBag.SearchTerm">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-warning"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <a href="@Url.Action("GetAllCities", "City")" class="btn btn-outline-danger">
                            <i class="fa-solid fa-eraser"></i> Clear
                        </a>
                    </div>
                </div>

                <!-- Filter dropdowns -->
                <div class="input-group col-md-9">
                  

                    <select class="form-control" name="countryFilter">
                        <option value="">Select Country</option>
                        @{
                            var allUniqueCountries = ViewBag.AllUniqueCountries as List<CountryDTO>;
                            string selectedCountry = ViewBag.SelectedCountryFilter as string;
                            if (allUniqueCountries != null)
                            {
                                foreach (var country in allUniqueCountries)
                                {
                                    if (country.Id.ToString() == selectedCountry)
                                    {
                                        <option value="@country.Id" selected>@country.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@country.Id">@country.Name</option>
                                    }
                                }
                            }
                        }
                    </select>

                  

                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-warning"><i class="fa-solid fa-filter"></i> Filter</button>
                    </div>

                    <div class="input-group-append">
                        <a href="@Url.Action("GetAllCities", "City")" class="btn btn-outline-danger">
                            <i class="fa-solid fa-filter-circle-xmark"></i> Clear
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>






    <table class="table table-hover">
        <thead>
            <tr>
                
                <th>City</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CityDTO item in Model.Items)
            {
                <tr>
                    
                    <td>@item.Name</td>
                    <td>
                        <a class="btn btn-outline-success" asp-action="EditCity" asp-route-id="@item.Id" style="border-radius:25px">Edit <i class="fa-regular fa-pen-to-square"></i></a>
                        <a class="btn btn-outline-danger" onclick="showDeleteConfirmation('@item.Id')" style="border-radius:25px"> Delete <i class="fa-solid fa-trash"></i></a>
                    
                    
                    </td>
                </tr>
               }
        </tbody>
    </table>
</div>
<div class="mb-3">

        <ul class="pagination pagination-sm">
    @for (int i = 1; i <= Model.pagesCount; i++)
    {
        <li class="page-item">
            <a class="page-link"
               asp-action="GetAllCities"
               asp-controller="City"
               asp-route-PageNumber="@i"
               asp-route-search="@ViewBag.SearchTerm"
               asp-route-countryFilter="@ViewBag.SelectedCountryFilter">
               @i
            </a>
        </li>
    }
</ul>

</div>

 <script>
        function showDeleteConfirmation(CityId) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'You won\'t be able to revert this!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    
                    window.location.href = 'http://localhost/hr/City/Delete/' + CityId;
                }
            });
        }
    </script>